@import "tailwindcss";

@layer base{
    html{
        font-family: "Poppins", sans-serif;
    }
    body{
        background-color: #f3f4f6;
        overflow-x: hidden;
    }
}

@layer components{
    .input-box{
        @apply w-full text-sm bg-transparent border-[1.5px] px-5 py-3 rounded mb-4 outline-none;
    }
    .btn-primary{
        @apply w-full text-sm bg-blue-400 text-white p-2 rounded my-1 hover:bg-blue-500;
    }
    .icon-btn{
        @apply text-xl text-slate-300 cursor-pointer hover:text-blue-400;
    }
    .input-label{
        @apply text-xs text-slate-400;
    }
}